.auth-page{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    height: 100vh;
}
.auth-background{
    position: relative;
}
.auth-overlay{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: linear-gradient(223.16deg, rgba(51, 51, 51,0.7) 0%, rgba(51, 51, 51, 0.75) 65.78%, rgba(51, 51, 51, 0.65) 98.32%);
   
}
.auth-content{
 position: absolute;
 bottom:100px;
 right: 100px;
 
}
.overlay-highlight{
    font-weight: 700;
    font-size: 21px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #01D9AB;
    text-align: end;
}
.overlay-text{
    text-align: end;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.auth-background img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
   animation: fadeIn 0.5s;
}

.auth-form {
    background: #333333;
    display: flex;
    flex-direction: column;
    padding: 100px;
    padding-top: 150px;
    align-items: flex-start;
    position: relative;
}
.auth-form-content{
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-heading{
    margin-bottom: 10px;
    font-weight: 600;
font-size: 34px;
line-height: 32px;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.form-subheading{
    align-self: flex-start;
    font-weight: 600;
font-size: 16px;
line-height: 18px;
margin-bottom: 40px;
letter-spacing: 0.02em;
color: #D6D6D6;

opacity: 0.7;
}
.auth-form-label{
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #FFFFFF;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: currentColor;
  }
.auth-form-input{
    width: 100%;
    
}
.auth-form-input:not(:last-child)
{
    margin-bottom: 15px;
}
.auth-form-input input{
padding: 8px 15px;
background: #4B4B4B;
outline: none;
border: none;
letter-spacing: 0.02em;
width: 100%;
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #D6D6D6;
}
.form-toggle{
 text-align: center;
}

.highlight{
    text-decoration: none;
    color:#01D9AB;
    margin-left: 10px;
    cursor: pointer;
}
.auth-btn{
    border-radius: 4px;
    padding: 12px 16px;
    border: none;
    outline: none;
   cursor: pointer;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
margin-top: 40px;
margin-bottom: 10px;
}
.auth-btn span{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.auth-btn img{
    margin-left: 20px;
}

.btn-grey{
    background: #707171;
}
.btn-green{
    background: linear-gradient(180deg, #00D4A8 0%, #048F72 100%);
}
.auth-skip{
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 100px;
    font-weight: 600;
font-size: 16px;
line-height: 18px;
border-bottom: 1px solid white;
letter-spacing: 1px;
padding: 5px 0;
color: #FFFFFF;
}
.otp-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.otp-input input{
    margin-right: 0 !important;
    padding: 5px !important;
}
.otp-input input:not(:last-child){
    margin-right: 20px !important;
}
.phone-box{
 display: flex;
 align-items: center;
 background: #4B4B4B;
}
.phone-code{
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 5px;
  color: #FFFFFF;
}
.phone-code span{
    font-weight: 600;
font-size: 16px;
line-height: 18px;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.phone-code img{
    margin-left: 5px;
}
.forgot-undo{
    color: #01D9AB;
    border-bottom: 1px solid #01D9AB;
    align-self: flex-end;
    cursor: pointer;

}
.auth-notofication-success{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(114, 196, 137, 0.23);
border-radius: 31px;
color:#27DC65;
padding: 8px 12px;
font-weight: 600;
font-size: 16px;
line-height: 18px;
letter-spacing: 0.02em;
width: 100%;
margin-top: 20px;
}
.auth-notofication-success img{
    margin-right: 10px;
    height: 20px;
}
@media (max-width:1100px){
.auth-page{
    grid-template-columns: 1fr 1fr;
}
.auth-form-content{
    width: 100%;
}
}
@media (max-width:900px){
 .auth-form{
    padding: 70px;
    padding-top: 150px;
 }
 .auth-content{
   
    right: 50px;
    
   }
}
@media (max-width:800px){
    .auth-page{
        grid-template-columns: 1fr;
    }
    .auth-background{
        display: none;
    }
    .auth-form{
        padding: 100px;
    padding-top: 150px;
    }
   
}
@media (max-width:500px){
    .auth-form{
        padding: 30px;
    padding-top: 150px;
    }
    .form-heading{
        font-size: 24px;
        line-height: 26px;
    }
    .form-subheading{
        font-size: 14px;
        line-height: 16px;
    }
}